document, html, body {
  margin: 0;
  height: 100%;
  position: relative;
  font-family: monaco, Consolas, Lucida Console, monospace;
  color: #f8f8f2;
  background-color: #282a36;
}

::selection {
  background: #f8f8f2;
  color: #282a36;
}

a {
  text-decoration: none;
  transition: all 0.2s ease;
  color: #6272a4;
}

a:hover {
  color: #ff5555;
}

.fullwidth {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.fixedwidth {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #f8f8f2;
  padding: 20px;
}

#header-home-button {
  transition: all 0.2s ease;
}

#header-home-button a {
  display: block;
  text-decoration: none;
  color: #f8f8f2;
  transition: all 0.2s ease;
  font-size: 32px;
}

#header-home-button a:hover {
  color: #ff5555;
}

#content section {
  border-bottom: 1px solid #f8f8f2;
}

#footer {
  text-align: right;
}

@keyframes blink {
  from {
    visibility: hidden;
  }
  to {
    visibility: visibler;
  }
}

.cursor {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: steps(2, end);
  animation-iteration-count: infinite;
}

pre {
  margin: 2em 0;
}

pre code {
  padding: 1em 1em;
  font-size: 90%;
  line-height: 1.2em;
  display: block;
  overflow-x: auto;
}

code {
  font-family: monaco, Consolas, Lucida Console, monospace;
  background: #44475a;
  white-space: pre;
}
